@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,600;0,700;1,700&family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: blanchedalmond;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: aliceblue;
    width: 900px;
    padding: 33px;
}
/* top players styles */
.section-title{
    font-size: 30px;
    color: rgb(86, 94, 10);
    margin-top: 4px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player img{
    height: 56px;
    width: 56px;
}
.player{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.player h3{
    font-size: 15px;
}
.name{
    margin-left: 15px;
}
hr{
    color: rgb(50, 14, 168);
}

/* blogs start */



/* blogs styles */
.top-blogs{
    margin-top: 20px;
}
.blog .pic img{
    height: 117px;
    width: 177px;
}
.blog{
    display: flex;
}
.blog-info{
    margin-left: 15px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
